body {
    background: #f9f9f9;
}
body:before {
    height: 100%;
    width: 50%;
    position: fixed;
    content: " ";
    top: 0;
    right: 0;
    background: #fff;
    -webkit-animation: enter-background-shadow .6s;
    animation: enter-background-shadow .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}            
.mb-10 {
    margin-bottom: 10px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-40 {
    margin-top: 40px;
}
.pd-60 {
    padding: 60px;
}

ul.dotted-list {
    list-style: none;
    padding-left: 0;
}
.dotted-list > li {
    line-height: 24px;
    padding: 12px 0 11px;
    border-bottom: 1px dotted #e0e0e0;
    display: flex;
}
.dotted-list>li>div {
    padding: 0;
    display: block;
    margin-bottom: 1px;
}
.topborder>li:first-child {
    border-top: 1px dotted #e0e0e0;
}
.size1of2 {
    width: 50%;
    float: left;
}
.size1of3 {
    width: 33.3%;
    float: left;
}
.size2of3 {
    width: 66.6%;
    float: left;
}
.lastUnit, .lastGroup {
    float: none;
    width: auto;
}
.lastUnit, .unit {
    padding-left: 15px;
    padding-right: 15px;
}
.sub-section {
    margin-bottom: 60px;
}